<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Form Input</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .card-body .form-group label{
        color: white;
    }

    .card-body .form-group input{
        color: #cfcfcf;
    }

    .card-header span{
        /*color: #03a9f4;*/
        font-size: large;
        font-weight: bold;
    }

</style>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">JAVA UAS</a>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="card bg-dark text-white col-sm-4" style="margin-top: 5%">
            <form th:action="@{/customer/saveCustomer}" th:object="${Customers}" method="post">

                <div class="card-header">
                    <span th:text="${Title}" th:style="'color:'+ ${TitleColor}"></span>
                </div>
                <div class="card-body">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="nama" class="bmd-label-floating">Nama Lengkap</label>
                        <input type="text" class="form-control" id="nama"
                               th:field="*{namaCustomer}" required minlength="4"
                               onclick="this.select()">
                        <span class="bmd-help">Write your full name here</span>
                    </div>
                    <div class="form-group">
                        <label for="tanggal" class="bmd-label-floating">Tanggal Lahir</label>
                        <input type="text" min="1990-01-01" max="2010-08-26"
                               class="form-control" id="tanggal" th:field="*{tanggalLahir}"
                               onfocus="(this.type='date')" onblur="(this.type='text')"
                               required />
                        <span class="bmd-help">Example : 01-01-2018</span>
                    </div>
                    <div class="form-group">
                        <label for="notelp" class="bmd-label-floating">Nomor Telpon</label>
                        <input type="number" class="form-control" id="notelp"
                               th:field="*{nomorTelp}" required min="10000000000" max="9999999999999"
                               onclick="this.select()">
                        <span class="bmd-help">Your number must be more than 11 to 13 digit's</span>
                    </div>
                </div>
                <div class="card-footer bg-dark">
                    <button type="submit" class="btn active" th:style="'color:'+ ${TitleColor}"><i class="fa fa-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>


</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
</body>
</html>