<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    body{
        font-family: Arial;
    }

    thead tr td {
        font-weight: bold;
    }

    tbody tr td {
        color: #bdbdbd;
    }
</style>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">JAVA UAS</a>
        </li>
    </ul>
</nav>
<div class="container" style="margin-top: 20px">
    <h1>&nbsp;</h1>

    <div class="card bg-dark text-white" style="margin-top: 20px">
        <div class="card-header">List Customer</div>
        <div class="card-body">
            <a th:href="@{/customer/insert}" class="btn btn-info btn-sm"><i class="fa fa-pencil"></i> Add New Customer</a>
            <table class="table table-borderless bg-dark text-white" style="margin-top: 10px">
                <thead>
                <tr>
                    <td>Nama Customer</td>
                    <td>Tanggal Lahir</td>
                    <td>Nomor Telepon</td>
                    <td style="text-align: center">Action</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="Cust : ${Customers}">
                    <td><span th:text="${Cust.getNamaCustomer()}"> </span></td>
                    <td><span th:text="${#dates.format(Cust.getTanggalLahir(), 'dd MMMMM yyyy')}"> </span></td>
                    <td><span th:text="${Cust.getNomorTelp()}"> </span></td>
                    <td style="text-align: center">
                        <a class="btn btn-primary btn-sm" th:href="@{/customer/edit/{id}(id=${Cust.id})}"><i class="fa fa-edit"></i> Edit</a>
                        <a class="btn btn-danger btn-sm" th:href="@{/customer/delete/{id}(id=${Cust.id})}" onclick="return confirm('Mau di hapus ?')"><i class="fa fa-trash"></i> Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</body>
</html>